
RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?file=index.php&var1=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?file=index.php&var1=$1

RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?file=index.php&var1=$1&var2=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?file=index.php&var1=$1&var2=$2



#RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)$ index.php?file=index.php&var1=$1 [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/([^/]+)$ index.php?file=index.php&var2=$1&var3=$2 [L]
